body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #2eff62;
    color: #ff5f5f;
}
header {
    background: #ff7f50;
    color: white;
    padding: 1em;
    text-align: center;
}
main {
    padding: 2em;
}
section {
    margin-bottom: 2em;
}
footer {
    text-align: center;
    padding: 1em;
    background: #eee;
}
